{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">About Us</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            {% if article %}
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
                    <h2 class="mb-4">{{ article.name }}</h2>
                    <p>{{ article.short_desc|safe }}</p>
                    <p><a href="{% url 'page' article.id %}" class="btn btn-secondary px-4 py-3">Read More</a></p>
                </div>
            </div>
            {% endif %}
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">{{ settings_about_page|safe }}</div>
        </div>
    </div>
</section>
{% endblock %}