{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Our Blog</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            {% if blog_posts %}
            {% for blog_post in blog_posts %}
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry">
                    <a href="{% url 'blog-single' blog_post.id %}" class="block-20 d-flex align-items-end"
                        style="background-image: url('{{ blog_post.image.url }}');">
                        <div class="meta-date text-center p-2">
                            <span class="day">{{ blog_post.create_date|date:"d" }}</span>
                            <span class="mos">{{ blog_post.create_date|date:"F" }}</span>
                            <span class="yr">{{ blog_post.create_date|date:"Y" }}</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="#">{{ blog_post.title }}</a></h3>
                        <p>{{ blog_post.short_desc }}</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="{% url 'blog-single' blog_post.id %}"
                                    class="btn btn-secondary">Read More <span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                                <a href="#" class="mr-2">{{ blog_post.create_user }}</a>
                                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if num_pages > 1 %}
            <div class="row no-gutters my-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            {% if page_no > 1 %}
                            <li><a href="?page{{ blog_posts.previous_page_number }}"><i
                                        class="ion-ios-arrow-back"></i></a></li>
                            {% endif %}
                            {% for page in pages %}
                            {% if page == page_no %}
                            <li class="active"><span>{{ page }}</span></li>
                            {% else %}
                            <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_no < num_pages %}
                            <li><a href="?page={{ blog_posts.next_page_number }}"><i
                                        class="ion-ios-arrow-forward"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% else %}
            <h1>No blog post found!</h1>
            {% endif %}
        </div>

    </div>
</section>

{% endblock %}