{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg'%}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">{{ blog_post.title }}</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span>
                    <span class="mr-2"><a href="{% url 'blog' %}">Blog <i class="ion-ios-arrow-forward"></i></a></span>
                    <span>{{ blog_post.title }} <i class="ion-ios-arrow-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <h2 class="mb-3">{{ blog_post.title }}</h2>
                <p>{{ blog_post.body|safe }}</p>
                {% if blog_post.tags %}
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        {% for tag in blog_post.tag_list %}
                        <a href="#" class="tag-cloud-link">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if blog_post.author %}
                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                        <a href="{% url 'teacher' blog_post.author.id %}">
                            <img src="{{ blog_post.author.photo.url }}" alt="{{ blog_post.author.full_name }}"
                                class="img-fluid mb-4">
                        </a>
                    </div>
                    <div class="desc">
                        <h3><a href="{% url 'teacher' blog_post.author.id %}">{{ blog_post.author.full_name }}</a></h3>
                        <p>{{ blog_post.author.short_desc }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="pt-5 mt-5">
                    {% if blog_post.published_comments.count %}
                    <h3 class="mb-5 h4 font-weight-bold">{{ blog_post.published_comments.count }} Comments</h3>
                    <ul class="comment-list">
                        {% for comment in blog_post.published_comments %}
                        <li class="comment">
                            <div class="comment-body">
                                <h3>{{ comment.name }}</h3>
                                <div class="meta mb-2">{{ comment.create_date|naturaltime }}</div>
                                <p>{{ comment.message }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- END comment-list -->
                    {% else %}
                    <h3 class="mb-5 h4 font-weight-bold">No comments available</h3>
                    {% endif %}

                    {% if comment == 'recieved' %}
                    <div class="comment-form-wrap pt-5">
                        <h2>Thank you!</h2>
                        <p>We recieved your comment and review it as soon as posible</p>
                        <p>We will return back to you if it needs</p>
                    </div>
                    {% else %}
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5 h4 font-weight-bold">Leave a comment</h3>
                        <form action="{% url 'blog-single' blog_post.id %}" method="POST" class="p-5 bg-light">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input name="name" required type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input name="email" required type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input name="website" type="url" class="form-control" id="website">
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div> <!-- .col-md-8 -->

            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="{% url 'blog' %}" method="POST" id="blog-search-form" class="search-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input name="search" required type="text" on class="form-control search-blog-text-input" placeholder="Type a keyword and hit enter">
                        </div>
                        <script>
const node = document.getElementsByClassName("search-blog-text-input")[0];
node.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("blog-search-form").submit();
    }
});
                        </script>
                    </form>
                </div>
            </div><!-- END COL -->
        </div>
    </div>
</section>
{% endblock %}