{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Our Courses</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Courses <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            {% if courses %}
            {% for course in courses %}
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url('{{ course.img }}');"></div>
                <div class="text bg-light p-4">
                    <h3><a href="#">{{course.name}}</a></h3>
                    <p class="subheading"><span>Class time:</span>{{ course.class_time }}</p>
                    <p>{{ course.short_desc }}</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1>No course has found!</h1>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}