{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">Certified Teachers</h1>
        <p class="breadcrumbs">
          <span class="mr-2">
            <a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a>
          </span>
          <span><a href="{% url 'teachers' %}">Teachers <i class="ion-ios-arrow-forward"></i></a></span>
          <span>{{ teacher }} <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class=" d-flex p-4 bg-light">
        <div class="bio mr-5">
          <img src="{{ teacher.photo.url }}" alt="{{ teacher.full_name }}" class="img-fluid mb-4">
        </div>
        <div class="desc">
          <h3>{{ teacher.full_name }}</h3>
          <p>{{ teacher.short_desc }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}